
/* use pseudo elements (:nth-child()) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
    overflow-x: hidden;
  font-size: 1.6rem;
  background-color: #f3f3f3;
  font-family: 'Mulish', sans-serif;
  background-color: #f3f3f3;
}

section {
    width: 88vw;
    margin: 0 auto;
    background-color: white;
}

/* ************************************************************** */

/* header  */

header {
    width: 100%;
    height: 982px;
}

/* nav  */
nav {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1.5px solid #a8a8a848;
}

nav a {
    font-size: 2rem;
}

.menu-logo {
    line-height: 0;
    margin-right: 20px;
}

nav .menu-logo img {
    width: 63px;
    height: 40px;
    flex-shrink: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

ul {
    list-style: none;
}

.menu li {
    /* padding: 10px 0; */
    font-size: 1.6rem;
}

.menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;

}

.menu li {
    padding: 0 20px;
}

#blue {
    color: #0000ff;
}

#small {
    font-size: 1.4rem;
}

/* second navigation  */

.second-nav ul {
    display: flex;
    padding: 2rem 4rem;
}

.second-nav li {
    padding-right: 3rem;
    font-size: 1.4rem;
}

/* main-image  */
.main-image {
    background-image: url(./assets/header.jpg);
    background-size: cover;
    margin: 1rem auto;
    width: 84%;
    height: 844px;
    display: flex;
    justify-content: center;
}

.main-image img {
    width: 30%;
}


/* ******************************************************* */

/* main  */

/* .first-container {
    width: 100%;
    display: grid;
    grid-template-columns: 10px ;
    grid-template-rows: 2fr 1fr 1fr 1fr 3fr 1fr 1fr;

}

.text {
    grid-area: 1 / 4 / 2 / 7;
    background-color: aquamarine
}

.first-box {
    grid-area: 4 / 5 / 7 / 5;
}

.first-box img {
    width: 500px;
}

.second-box {
    grid-area: 3 / 5 / 8 / 9;
    background-color: blueviolet;
}

.third-box {
    grid-area: 5 / 6 / 6 / 8;
} */

main {
    margin-top: 15rem;
}

main .text {
    margin: 0 auto;
    width: 50%;
    margin-top: 15rem;
    margin-bottom: 15rem;
    
    
}

main .text h2 {
   line-height: 1.6;
   font-size: 2.6rem;
}

main p {
    margin-top: 1.4rem;
    line-height: 1.8;
    font-size: 1.7rem;
    font-weight: 600;
}

span {
    color: blue;
}

.first-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 982;
    
}

.first-container .background .photo1 img {
    width: 65rem;
    height: 65rem;
    margin-right: 15rem;
    /* padding-right: 10rem; */
    /* margin-right: 20rem; */
    /* margin-left: 10rem; */
    
}

.first-container .background {
    display: flex;
    justify-content: flex-end;

    /* margin-top: 15rem; */
    align-items: center;
    width: 95rem;
    height: 90rem;
    /* margin-bottom: 15rem; */
    background-color: #f9f4a7;
}

.first-container .background .photo2 img {
    width: 70rem;
    height: 40rem;
    padding-right: 15rem;
}

/* .second-container  */

.second-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* margin-top: 15rem; */
}

.second-container img {
    width: 50%;

}

h5 {
    margin-right: 64rem;
    margin-top: 1rem;
}


/* third-container  */


.third-container {
    /* display: flex; */
    /* justify-content: flex-start; */
    width: 100%;
    height: 982;
    
}

.third-container .background .photo1 img {
    width: 53rem;
    height: 40rem;
    margin-left: 13rem;
    margin-bottom: rem;
    
    /* padding-right: 10rem; */
    /* margin-right: 20rem; */
    /* margin-left: 10rem; */
    
}

#desk {
    margin-top: 14rem;
}


.third-container .background {
    display: flex;
    justify-content: flex-start;

    /* margin-top: 15rem; */
    align-items: center;
    width: 95rem;
    height: 120rem;
    /* margin-bottom: 15rem; */
    background-color: #b2f3bf;
}

.third-container .photo2 img {
    width: 66rem;
    height: 66rem;
    /* padding-right: 15rem; */
    margin-left: 15rem;
}


/* fourth-container  */

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-container img {
    width: 82%;
}


/* fifth-container  */
.fifth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-container .background {
    background-color: #d5b2fc;
    width: 106rem;
    height: 93rem;
    /* display: flex; */
}

.box {
    display: inline-block;

}

.box .photo1 img {
    width: 53rem;
    height: 40rem;
    margin-left: -12rem;
    margin-top: 28rem;
}

.box .photo2 img {
    width: 66rem;
    height: 66rem;
    margin-top: -55rem;
    margin-left: 68.4rem;
}

/* sixth-container  */

.sixth-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sixth-container .photo img {
    width: 66rem;
    height: 66rem;
}

.sixth-container .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b2c4fc;
    width: 66rem;
    height: 66rem;
    
}

h3 {
    line-height: 1.4;
    font-size: 2.8rem;
    
}

#jobs {
    margin-left: -20rem;
    margin-top: 4rem;
    color: blue;
}

#jobs::after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-size: 1.8rem;
}

/* footer  */

footer {
    border-top: 1.5px solid #a8a8a848;
    margin-top: 15rem;
    padding: 15rem;
}

